.chat-box {
  .participant-messages {
    color: #ffffff;
  }
  .text-field-style {
    background: radial-gradient(47.48% 60% at 50.3% 100%, rgba(255, 255, 255, 0.65) 0%, rgba(178, 89, 248, 0.77) 40.62%, rgba(137, 89, 248, 0.01) 100%);
    .MuiInputBase-root {
      color: rgba(255, 255, 255, 0.65) !important;
    }
  }
}