.primary {
  background: linear-gradient(180deg, #995AFF -7.69%, rgba(108, 58, 252, 0.91) 127.88%);
  border-radius: 4px;
  font-weight: 700;
  color: #FFFFFF !important;
  font-size: 13px;
  line-height: 22px;
  font-family: 'Saira';
  box-shadow: inset 0px 4px 12px #FFFFFF;
}